<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Happidy - Happy Study</h1>
		<p class="lead text-muted">Buat kamu yang mau cari materi kuliah MBTI, disini nih tempatnya! Daftar sekarang juga</p>
			<p class="lead text-muted">Without love,intelligence is dangerous, and without intelligence, love is not enough - BJ. Habibie</p>
		<p>
			<a href="<%= new_user_registration_path %>" class="btn btn-success my-2">Daftar</a>
			<a href="<%= new_user_session_path %>" class="btn btn-primary my-2">Login</a>
		</p>
	</div>
</section>

<br>